extends ../layout
block content

    .container.profile
        .columns.flex
            .prfl.col.flex33.mxr20
                .author_bio.prfl_border
                    if owner
                        .prfl_pic
                            a(href=href='/authors/' + author._id + '/edit')
                                .img
                                    img(src='/images/userProfiles/' + author._id + '.png', alt="breh")
                    else
                        .prfl_pic
                            .img
                                img(src='/images/userProfiles/' + author._id + '.png', alt="breh")
                    .prfl_name
                        h2 #{author.fullName}
                    .prfl_about
                        h4 About  
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum dolor dolorum minus ipsam mollitia magnam aspernatur deleniti quae tempore nam.
                    if owner
                        .prfl_panel.flex
                            a(href='/authors/' + author._id + '/edit') 
                                button Edit
                            form(action='/authors/' + author._id + '/delete?_method=DELETE' method='POST')
                                button(type='submit') Delete
            .col.flex66
                .posts
                    if posts
                        each post in posts
                            a(href="/posts/" + post._id)
                                .post
                                    p.pst_title #{post.title}
                                    p.pst_content #{post.content}
                                    p.pst_time #{post.dateCreated}
                if owner
                    form(action='/posts/new' method='POST')
                        .post.newPost
                            .flexcol
                                label(for='title') Title
                                input.inpt(type='text' id='title' name='title' required)
                            .flexcol
                                label(for='content') Post
                                textarea.inpt(id='content' name='content' required)
                            button.home_nav.ctr(type="submit") Create Post
                                